@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Patua+One&family=Rubik+Scribble&display=swap');
*{
  text-decoration: none !important;
  list-style-type: none !important;
}
body{
  background-color: rgb(255, 255, 255) !important;
  font-family: "Patua One", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(211, 4, 4);
}
::-webkit-scrollbar-track {
  background: white;
}
.nav-logo{
  color: rgb(211, 4, 4);
  font-size: 40px;
}
.nav-login{
  background-color: rgb(211, 4, 4);
  color: white;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 1px 1px 5px black;
}
.nav-bar-icon{
  font-size: 30px;
}
.nav-addToCart{
  width: 90px !important;
  cursor: pointer;
}
.slider-image img{
  width: 100%;
}
.login-btn{
  background-color: rgb(141, 52, 52) !important;
  color: white !important;
  padding: 10px;
}
.phone-number{
  display: flex;
  gap: 5px;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 5px;
}
.phone-number input{
  width: 90%;
  outline: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-google{
  background-color: white!important;
  color: rgb(141, 52, 52) !important;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  gap: 5px;
  box-shadow: 1px 1px 5px black !important;
}
.login-google span img{
  width: 20px;
}