@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Domine:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lilita+One&family=Patua+One&family=Rubik+Scribble&display=swap');
*{
  text-decoration: none !important;
  list-style-type: none !important;
}
body{
  background-color: rgb(255, 255, 255) !important;
  font-family: "Patua One", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: rgb(211, 4, 4);
}
::-webkit-scrollbar-track {
  background: white;
}
.nav-logo{
  color: rgb(211, 4, 4);
  font-size: 40px;
}
.nav-login{
  background-color: rgb(211, 4, 4);
  color: white;
  text-transform: uppercase;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: 1px 1px 5px black;
}
.nav-bar-icon{
  font-size: 30px;
  cursor: pointer;
}
.nav-addToCart{
  width: 90px !important;
  cursor: pointer;
}
.slider-image img{
  width: 100%;
}
 .auth{
  height: 100vh;
}
.auth .login{
  margin-top: -105px;
} 
.login-btn{
  background-color: rgb(141, 52, 52) !important;
  color: white !important;
  padding: 10px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-google{
  background-color: white!important;
  color: rgb(141, 52, 52) !important;
  /* margin-top: 10px; */
  padding: 10px;
  display: flex;
  gap: 5px;
  box-shadow: 1px 1px 5px black !important;
}
.login-google span img{
  width: 20px;
}
.explore-menu{
  overflow-x: hidden !important;
  display: flex !important;
}
.ExploreMenu{
  border-radius: 50%;
  cursor: pointer;
}
.menu-image {
  transition: transform 0.5s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.ExploreMenu {
  position: relative; 
  overflow: hidden; 
}

.ExploreMenu:hover .menu-image {
  transform: scale(1.1) rotateY(10deg);
}

.ExploreMenu:hover .overlay {
  opacity: 1;
}

.overlay span {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.footer{
  background-color: rgb(141, 52, 52);
}
.navbar{
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 300px;
  height: 100vh;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
.active{
  transform: scaleX(1);
}
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
}
.navbar-show{
  padding: 20px;
}
.navbar-show .nav-login{
  display: flex;
  justify-content: center;
}
.nav-links{
  display: flex !important;
  flex-direction: column !important;
  gap: 20px;
  padding-top: 20px;
}
.nav-links a{
  color: black;
  font-size: 20px;
  padding: 10px 0 10px 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
}
.nav-links a:hover{
  background-color: rgb(54, 54, 54);
  border-radius: 5px;
  color: white !important;
  transform: translateX(10px) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.navbar-show .icon{
  display: flex;
  justify-content: right;
  padding-top: 20px;
  font-size: 20px;
  color: black;
  cursor: pointer;
}
.cart-container{
  margin-top: 10px;
}
.cart-item{
  padding: 0 30px;
}
.cart {
  background-color: aqua !important;
  height: 350px;
}
.cart-box {
  width: 400px; 
  height: 510px;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
}
.cart-icon {
  position: relative; /* Ensure the cart icon is a positioned parent */
}

.cart-count {
  position: absolute; /* Position the count relative to its closest positioned ancestor */
  top: -14px; /* Adjust this value to position the count as desired */
  right: 50px; /* Adjust this value to position the count as desired */
  background-color: rgb(211, 4, 4); /* Example background color */
  color: white; /* Example text color */
  border-radius: 50%; /* Make it a circle */
  width: 25px; /* Adjust width as needed */
  height: 25px; /* Adjust height as needed */
  font-size: 12px; /* Adjust font size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-items{
  height: 300px;
  overflow-y: scroll;
}
.order-btn {
  font-size: 20px;
  width: 30px;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in; /* Adding transition for all properties */
}

.order-btn:hover {
  background-color: aliceblue;
}
.loader-container{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader{
  pointer-events: none;
  width: 50px;
  height: 50px;
  border-radius: 80%;
  border: 5px solid transparent;
  border-top-color: rgb(141, 52, 52);
  border-bottom-color: rgb(141, 52, 52);
  border-right-color: rgb(141, 52, 52);
  animation: an2 1s ease infinite;
}
@keyframes an2{
  0% {
      transform: rotate(2turn);
  }
  100% {
      transform: rotate(1turn);
  }
}


